header {
    font-family: monospace;
    font-size: 16px;
    color: #000;
    text-align: center;
}
.container {
    width: 100%;
    cellpadding: 0;
    cellspacing: 0;
    border: 0px;
    border-collapse: collapse;
}
.col2 {
    width: 100%;
    display: flex;
}

#panel {
    margin: 0 auto;
}

#panel>.panel-title {
    background: #aaa;
    /*margin-right: 5px;*/
    width: 110px;
}

/*#panel .panel-input {*/
/*    font-size: 10pt;*/
/*}*/

button {
    background: #efefef;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    transition: all 0.2s linear;
}

button:hover {
    box-shadow: 0 0 0 2px #9e9e9eaf;
}

button.btnX:hover {
    box-shadow: 0 0 0 2px #dd9999af;
}

button.btnR:hover {
    box-shadow: 0 0 0 2px #9999ddaf;
}

input[type=text], input[type=button], input[type=submit] {
    border-radius: 3px;
    border: solid 1px #d3d3d3;
    transition: all 0.2s linear;
}

input[type=text]:hover, input[type=button]:hover, input[type=submit]:hover {
    color: #212529;
    outline: 0;
    box-shadow: 0 0 0 2px #9e9e9eaf;
}

input[type=text]:focus {
    outline-width: 0px;
}

input[type=text].inputY:hover {
    box-shadow: 0 0 0 2px #99dd99af;
}

#panel button {
    margin-right: 3px;
}

#panel button:nth-last-of-type(1) {
    margin-right: 0px;
}

.input-error {
    background: #ffb7b7;
}

.buttons {
    text-align: right;
}

.buttons>input {
    margin-left: 3px;
}

.red_bg {
    background: #d99;
}

.green_bg {
    background: #9d9;
}

.blue_bg {
    background: #99d;
}

.yellow_bg {
    background: #dd8;
}

.pink_bg {
    background: #d8d;
}

.skyblue_bg {
    background: #8dd;
}

.x-axis .tick {
    height: 9px;
    width: 2px;
    bottom: -5px;
}

.y-axis .tick {
    width: 9px;
    height: 2px;
    right: -4px;
}

.x-axis>.tick>.tick-label {
    text-align: center;
    top: -16px;
    left: -6px;
}

.y-axis>.tick>.tick-label {
    top: -8px;
    left: 12px;
}

#result_table {
    margin: 0 auto;
}

#result_table table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

#result_table th {
    min-width: 60px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #dddddd;
}

#result_table td {
    min-width: 60px;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px;
}

#graph {
    margin: 0 auto;
    border: black solid 2px;
}